.contacts {
    padding-top: 7rem;
    padding-bottom: 2rem;
    background-image: url('../images/form-bg.jpg');
    background-color: $body-bg;
    background-size: cover;
    background-position: 50% 20%;
}
