.map {
    width: 100%;
    min-height: 230px;
    overflow: hidden;
    position: relative;
}

.map__yandex {
    z-index: 3;
    border: none;
    width: 100%;
    min-height: inherit;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    bottom: 0;
}

.map__image {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1;
}

@include media-breakpoint-up(md) {
    .map {
        min-height: 335px;
    }
}
